<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.app.dao.FabulousDao">
	
	<select id="queryFabulousCount" resultType="String">
		SELECT MAX(fabulousCount) FROM t_fabulous WHERE articleId = #{0}
	</select>
	
	<insert id="investFabulous">
		INSERT INTO t_fabulous (articleId, commentId, userId, fabulousCount, fabulousDate) 
		VALUES (#{articleId}, #{commentId}, #{userId}, #{fabulousCount}, #{fabulousDate})
	</insert>
	
	<select id="queryStampedeCount" resultType="String">
		SELECT MAX(fabulousCount) FROM t_fabulous WHERE commentId = #{0}
	</select>
	
	<select id="queryArticlePraises" resultType="map">
		SELECT id, userName, signature, portrait FROM t_user WHERE id IN (
			SELECT userId FROM t_fabulous WHERE articleId = #{0} ORDER BY fabulousDate DESC 
		) LIMIT 0, 50
	</select>
	
</mapper>





