<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.app.dao.SendArticleDao">

	<select id="queryIndexContentCount" resultType="long">
		SELECT COUNT(id) FROM t_sendArticle
	</select>
	
	<select id="queryIndexContent" resultType="map">
		SELECT t1.*, t2.userName, t2.portrait, 
		(select count(id) from t_fabulous where articleId = t1.id and userId = #{2}) fabulous,
		(select count(id) from t_stampede where articleId = t1.id and userId = #{2}) stampede
		FROM t_sendArticle t1 LEFT JOIN t_user t2 ON t1.userId = t2.id LIMIT #{0}, #{1}
	</select>
	
	<update id="updateArticleFabulousCount">
		UPDATE t_sendarticle SET fabulousCount = #{1} WHERE id = #{0}
	</update>
	
	<update id="updateArticleStampedeCount">
		UPDATE t_sendarticle SET stampedeCount = #{1} WHERE id = #{0}
	</update>
	
</mapper>





