<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.app.dao.SendArticleDao">

	<select id="queryIndexContentCount" resultType="long">
		SELECT COUNT(id) FROM t_sendArticle
	</select>
	
	<select id="queryIndexContent" resultType="map">
		SELECT t1.*, t1.articleImages, t2.userName, t2.portrait 
		FROM t_sendArticle t1 LEFT JOIN t_user t2 ON t1.userId = t2.id LIMIT #{0}, #{1}
	</select>
	
</mapper>





